{% extends "app/_layouts/base.html" %}
{% load static %}
{% block conteudo %}

<head>
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand custom-icon" href="{% url 'app:index' %}">
        <img src="{% static 'app/img/favicon.png' %}" height='45px' alt="Logo">
    </a>
</nav>
<div class="custom-card">
    <p class="custom-text-card">Sua plataforma<br>de verificação de notícias.</p>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-lg custom-login-icon" onclick="window.location.href=`{% url 'app:login_user' %}`"><span class="material-icons">login</span></button>
        <button type="button" class="btn btn-lg custom-text-buttom" onclick="window.location.href=`{% url 'app:login_user' %}`">Faça seu login ou cadastre-se</button>
    </div>

    <div id="chat" class="container container-position">
        <div class="card card-body-size">
            <div class="card-body chat-form">
                <br>
                <p class="custom-text-message">Deixe sua mensagem e te responderemos em breve!</p>
                <form method="post" action="{% url 'app:chat' %}">
                    {% csrf_token %}
                    <label for="sender">Nome</label>
                    <input type="text" name="sender">
        
                    <label for="email">Email</label>
                    <input type="text" name="email" required>
        
                    <label for="subject">Assunto</label>
                    <input type="text" name="subject">   
        
                    <label for="message">Mensagem</label>
                    <textarea class="custom-input-textarea input-large-textarea" name="message" required></textarea>
         
                    <button class="btn custom-input-buttom custom-button-margin" type="submit">Enviar</button>
                    <button class="btn custom-input-buttom custom-button-cancelar" type="button" onclick="window.location.href=`{% url 'app:index' %}`">Cancelar</button>
                </form>
            </div>
        </div>
      </div>
     <button id="show-chat" class="custom-chat-icon"><svg xmlns="http://www.w3.org/2000/svg" height="64px" fill="#322153" viewBox="0 -960 960 960" width="64px"><path d="M286.479-204q-23.329 0-40.404-18.612Q229-241.225 229-263v-114h517v-356h115.773q21.727 0 38.977 18.325Q918-696.35 918-674v633L755-204H286.479ZM42-268v-594.2q0-21.265 17.325-39.533Q76.65-920 99-920h528.836q23.489 0 40.826 17.825Q686-884.35 686-862v367.082q0 22.543-17.613 40.23Q650.775-437 628-437H211L42-268Zm553-260v-300H134v347l40-47h421Zm-461 0v-300 300Z"/></svg></button>
    </div>
{% endblock %}