{% extends "app/_layouts/base.html" %}
{% load static %}
{% block conteudo %}

<head>
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand custom-icon" href="{% url 'app:index' %}">
        <img src="{% static 'app/img/favicon.png' %}" height='45px' alt="Logo">
    </a>
</nav>

<div class="custom-card">
    <p class="custom-text-card">Sua plataforma<br>de verificação de notícias.</p>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-lg custom-login-icon"
            onclick="window.location.href=`{% url 'app:login_usuario' %}`"><span class="material-icons">login</span></button>
        <button type="button" class="btn btn-lg custom-text-buttom"
            onclick="window.location.href=`{% url 'app:login_usuario' %}`">Faça seu login ou cadastre-se</button>
    </div>
</div>
{% endblock %}