body { 
    background-color: #F0F0F5;
    background-image: url("/static/app/img/background_image.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100vh;
    background-size: contain;
}

.custom-icon {
    background-color: #F0F0F5;
}

.custom-card{
    padding-bottom: 15%;
    padding-top: 10%;
    margin-left: 5%;
}

.custom-text-card {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: #322153;
    font-weight: bold;
}

.custom-text-buttom {
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    font-weight: bold;
    color: #FEFEFE;
    background-color:#2FB86E;
    padding-bottom: 3%;
}

.custom-login-icon{
    background-color:#4eac69;
    color: #FEFEFE;
    padding-top: 5%;
}

.custom-login-icon:hover{
    background-color:#4eac69;
    color: #FEFEFE;
    border: none;
}

/* Estilos para telas pequenas */
@media (max-width: 767px) {
    .custom-card{
        padding: 10%;
        margin: 0 auto;
    }
    
    .custom-text-card {
        font-size: 2rem;
    }
    
    .custom-text-buttom {
        font-size: 0.75rem;
        padding-bottom: 5%;
    }
    
    .custom-login-icon{
        padding-top: 10%;
    }
}
