body { 
    background-color: #F0F0F5;
    background-image: url("/static/app/img/background_image.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100vh;
    background-size: contain;
}

.custom-icon {
    background-color: #F0F0F5;
}

.custom-card{
    padding-bottom: 15%;
    padding-top: 10%;
    margin-left: 5%;
}

.custom-text-card {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: #322153;
    font-weight: bold;
}

.custom-text-buttom {
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    font-weight: bold;
    color: #FEFEFE;
    background-color:#2FB86E;
    padding-bottom: 3%;
}

.custom-login-icon{
    background-color:#4eac69;
    color: #FEFEFE;
    padding-top: 5%;
}

.custom-login-icon:hover{
    background-color:#4eac69;
    color: #FEFEFE;
    border: none;
}

.custom-chat-icon {
    border: none;
    position: absolute;
    bottom: 10px;
    left: 1170px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #F5F4F8;
    
} 

.container {
    display: none;
}

.container-position {
    position: absolute;
    bottom: 100px;
    margin-left: 600px;
    max-width: 600px;
}

.chat-form label {
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: left;
    margin-left: 40px;
    font-size: 0.88rem;
    font-weight: bold;
    color: #4e424285;
}

.chat-form input[type="text"] {
    background-color: #F0F0F5;
    border: 1px solid #F0F0F5;
    border-radius: 4px;
    font-size: 0.88rem;
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.card-body-size {
    width: 500px;
    height: 500px;
    margin-top: 5px;
}

.custom-input-buttom {
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    font-weight: bold;
    color: #FEFEFE;
    background-color:#2FB86E;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 30%;
}

.custom-button-margin{
    margin-left: 40px;
}

.custom-button-cancelar {
    margin-left: 20%;
}

.custom-input-textarea {
    background-color: #F0F0F5;
    border: 1px solid #F0F0F5;
    border-radius: 4px;
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 0.88rem;
    width: 400px;
    height: 60px;
    resize: none;
}

.input-large {
    font-size: 1.0rem;
    width: 540px;
}

.input-large-textarea {
    font-size: 1.0rem;
    width: 400px;
}

.custom-text-message {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #4e424285;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}


/* Estilos para telas pequenas */
@media (max-width: 767px) {
    .custom-card{
        padding: 10%;
        margin: 0 auto;
    }
    
    .custom-text-card {
        font-size: 2rem;
    }
    
    .custom-text-buttom {
        font-size: 0.75rem;
        padding-bottom: 5%;
    }
    
    .custom-login-icon{
        padding-top: 10%;
    }
}
