{% extends "app/_layouts/base.html" %}
{% load static %}
{% block conteudo %}

<head>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'app:users_listing' %}">
        <img src="{% static 'app/img/favicon.png' %}" height='45px' alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudo-navbar"
        aria-controls="conteudo-navbar" aria-expanded="false" aria-label="Ativar navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="conteudo-navbar">
        <button type="button" class="btn custom-icon-home" onclick="window.location.href=`{% url 'app:users_listing' %}`"><span
                class="material-icons">arrow_back</span></button>
        <button type="button" class="btn custom-button" onclick="window.location.href=`{% url 'app:users_listing' %}`">Voltar para home</button>
    </div>
</nav>

<div class="card div-form">
    <div class="card-body div-form-body">
        <p class="custom-p">Cria novo usuário</p>
        <form method="post" action="{% url 'app:create_user' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="custom-text-form" for="username">Email:</label>
                <input class="custom-input input-large" type="email" name="username" id="username" required>
            </div>

            <div class="form-group">
                <label class="custom-text-form" for="first_name">Senha:</label>
                <input class="custom-input input-large" type="password" name="password" id="password" required>
            </div>

            <div class="form-group">
                <label class="custom-text-form" for="first_name">Nome:</label>
                <input class="custom-input input-large" type="text" name="first_name" id="first_name">
            </div>

            <div class="form-group">
                <label class="custom-text-form" for="last_name">Sobrenome:</label>
                <input class="custom-input input-large" type="text" name="last_name" id="last_name">
            </div>

            <div class="form-group margin-checkbox">
                <label class="custom-checkbox" for="is_staff">Administrador:</label>
                <input class="custom-checkbox" type="checkbox" name="is_staff" id="is_staff">
            </div>
            <input class="btn custom-input-buttom custom-button-margin" type="submit" value="Criar novo usuário">
        </form>      
    </div>
</div>
{% endblock %}