{% extends "app/_layouts/base.html" %}
{% load static %}
{% block conteudo %}

<head>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'app:create_ticket' %}">
        <img src="{% static 'app/img/favicon.png' %}" height='45px' alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudo-navbar"
        aria-controls="conteudo-navbar" aria-expanded="false" aria-label="Ativar navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="conteudo-navbar">
        <button type="button" class="btn custom-icon-home"
            onclick="window.location.href=`{% url 'app:create_ticket' %}`"><span
                class="material-icons">arrow_back</span></button>
        <button type="button" class="btn custom-button"
            onclick="window.location.href=`{% url 'app:create_ticket' %}`">Voltar
            para home</button>
    </div>
</nav>
<div class="card div-form-table">
    <div class="card-body div-form-body">
        <p class="custom-p">Lista de tickets</p>
        <table class="margin-table-tickets">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Título</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.created_at|date:"d/m/Y" }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.status }}</td>
                    <td class="td-buttom"><a href="{% url 'app:ticket_detail' ticket.id %}" class="button-link button-link-delete">Detalhes</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}