{% extends "app/_layouts/base.html" %}
{% load static %}
{% block conteudo %}

<head>
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'app:index' %}">
        <img src="{% static 'app/img/favicon.png' %}" height='45px' alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudo-navbar"
        aria-controls="conteudo-navbar" aria-expanded="false" aria-label="Ativar navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="conteudo-navbar">
        <button type="button" class="btn custom-icon-home" onclick="window.location.href=`{% url 'app:index' %}`"><span
                class="material-icons">arrow_back</span></button>
        <button type="button" class="btn custom-button" onclick="window.location.href=`{% url 'app:index' %}`">Voltar para home</button>
    </div>
</nav>


<div class="card div-form">
    <div class="card-body div-form-body">
        <p>Redefinição de senha</p>
        <p>Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos as instruções para a redefinição da sua senha</p>
        <form method="POST">
            {% csrf_token %}
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}

            <div class="form-group">
                {{resetar_senha_form.email.errors}}
                <label>Email: </label>
                {{resetar_senha_form.email}}
            </div>                  
            <button class="btn btn-primary" type="submit">Envie o email</button>
        </form>
    </div>
</div>

{% endblock %}