{% extends "app/_layouts/base.html" %}
{% load static %}
{% block conteudo %}

<head>
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'app:login_user' %}">
        <img src="{% static 'app/img/favicon.png' %}" height='45px' alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudo-navbar"
        aria-controls="conteudo-navbar" aria-expanded="false" aria-label="Ativar navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="conteudo-navbar">
        <button type="button" class="btn custom-icon-home" onclick="window.location.href=`{% url 'app:login_user' %}`"><span
                class="material-icons">arrow_back</span></button>
        <button type="button" class="btn custom-button" onclick="window.location.href=`{% url 'app:login_user' %}`">Voltar para home</button>
    </div>
</nav>

<div class="card div-form">
    <div class="card-body div-form-body password-reset-form">
        {% if validlink %}
            <p class="custom-p">Digite sua nova senha</p>
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn custom-input-buttom custom-button-margin" type="submit" value="Redefinir senha">
            </form>
        {% else %}
            <p class="custom-text-message-link-expirado">O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
        {% endif %}
    </div>
</div>

{% endblock %}