{% extends "app/_layouts/base.html" %}
{% load static %}
{% block conteudo %}

<head>
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'app:index' %}">
        <img src="{% static 'app/img/favicon.png' %}" height='45px' alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudo-navbar"
        aria-controls="conteudo-navbar" aria-expanded="false" aria-label="Ativar navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="conteudo-navbar">
        <button type="button" class="btn custom-icon-home" onclick="window.location.href=`{% url 'app:index' %}`"><span
                class="material-icons">arrow_back</span></button>
        <button type="button" class="btn custom-button" onclick="window.location.href=`{% url 'app:index' %}`">Voltar
            para home</button>
    </div>
</nav>

<div class="card div-form">
    <div class="card-body div-form-body">
        <p>Login</p>
        <form action="{% url 'app:login' %}" method="post">
            {% csrf_token %}
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}

            <div class="form-group">
                {{form_login.username.errors}}
                    <label>Email: </label>
                {{form_login.username}}
            </div>

            <div class="form-group">
                {{form_login.password.errors}}
                    <label>Senha: </label>
                {{form_login.password}}
            </div>

            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-primary">
            </div>

            <div class="form-group">
                <input type="submit" value="Cancelar" class="btn btn-primary">
            </div>

            <!-- <div class="form-group">
                <input type="submit" value="Não tenho cadastro" class="btn btn-primary">
            </div>

            <div class="form-group">
                <input type="submit" value="Esqueci a senha" class="btn btn-primary">
            </div> -->
        </form>
    </div>
</div>

{% endblock %}